/*basic styles sheet */
html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

/* begin header navbar styles */
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  overflow: hidden;
  background-color: white;
}

.logo,
.nav-menu {
  text-transform: uppercase;
}
.logo,
.nav-item {
  white-space: nowrap;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  flex: 1 0 33.3%;
  text-align: center;
}

.social-nav-item {
  flex: 1 1 10%;
}

.logo a,
.nav-menu a {
  display: block;
  text-decoration: none;
  letter-spacing: 0.2rem;
  padding: 0.8rem;
  color: black;
}

.logo a {
  font-weight: 700;
  font-size: 2rem;
}

.nav-menu a {
  font-weight: 400;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid;
}
